[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
python-dotenv = "*"
schedule = "*"
python-dateutil = "*"
urllib3 = "==1.26.17"

[dev-packages]

[requires]
python_version = "3.9"
